[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/pyflakes-vim"]
	path = .vim/bundle/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/simplecommenter"]
	path = .vim/bundle/simplecommenter
	url = https://github.com/vim-scripts/simplecommenter.git
